/* Layout */

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: "source sans 3", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

header,
main {
  width: 500px;
  margin: 0 auto;
}

header {
  background-color: #FFFFFF;
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #c6c6c6;
  box-sizing: border-box;
}

main {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.feed {
  background-color: #FFFFFF;
}

.logo-img {
  width: 120px;
  margin: auto auto auto 0;
}

.user-avatar {
  width: 50px;
  border-radius: 50%;
  margin: auto 0 auto auto;
}

.op-container {
  display: flex;
  align-items: center;
  padding: 15px;
}

.op-avatar {
  width: 50px;
  border-radius: 50%;
}

.post {
  display: block;
  width: 100%;
}

.op-details-container {
  margin: auto auto auto 10px;
}

.react-container {
  padding: 20px 15px 10px;
}

.react-icons-container {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.react-img {
  display: block;
  width: 40px;
}

/* Typography */

.username, .likes {
  font-weight: 700;
}

.comment, .likes {
  margin: 10px 0;
}

.op-location {
  font-size: 0.8rem;
  margin: 0;
}

.op-name {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
